.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: 40vh;
    grid-template-areas: 
    ". loginForm loginForm ."
    ". loginForm loginForm .";
}

.loginForm{
    // border: 1px #e0e0e0 solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5%;
    padding: 80px;
    // padding: 10px 10px 10px 10px;
    display: grid;
    grid-area:loginForm;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}