  .grid-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main";
    height: 100vh;
  }
  
  .header {
    grid-area: header;
  }

  .sidenav {
    grid-area: sidenav;
  }
  
  .main {
    grid-area: main;
    height: 100%;
    overflow: auto;
  }
  